body {
    margin: 0; 
    font-family: helvetica, serif;
    background-image: url(imgs/sunflowerYellowOverlay.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    margin: 0;
    padding: 3em 0 0 0;
    color: black;
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    padding: 0 1.5rem 1rem 1.5rem;
    text-align: justify;
}

.open {
    color: black;
    font-size: 1.8rem;
    float: left;
    padding-left: 1em;
    padding-top: 1em;
    cursor: pointer;
    display: block;
    
}
.open:hover {
    opacity: 0.8;
}

.nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(34,65,93,0.9);
    transition: 0.5s;
    display: block;
    overflow-x: hidden;
    text-align: center;
    
}
.nav a {
    clear: left;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
    padding: 0.5em;
}
.nav a:not(:first-child):hover {
    background-color: #EFCF07;
}
.close {
    float: left;
    font-size: 30px;
    margin: 1em 0 0 1em;
}
/*Why is this not working
.active {
    color: darkblue;
}*/

#homeText {
    margin-bottom: 3rem;
}

.form {
    display: block;
    justify-content: center;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: .5rem 1.5rem .5rem 1.5rem;
    bottom: 0;
    width: 95.5%;
    position: fixed;
    background-color:#EFCF07;
}

.socialIcon {
    width: 1em;
    height: 1em;
    padding-right: 1em;
}

#footerName {
    margin-right: 1em;
}
